@import 'tailwindcss';

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Book.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-BookItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NebulaSans';
  src: url('/src/lib/assets/fonts/NebulaSans-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-nebula: 'NebulaSans', sans-serif;
}

:root {
  font-family: 'NebulaSans', sans-serif;
}